* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: white;
  color: black;
}

body {
  .layout-container {
    .outlet-containter {
      height: 140vh;
    }
  }
  // Layout Header 設定
  .l-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 13vh;
    z-index: 100;
    .title {
      display: flex;
      align-items: center;
      margin-left: 3rem;
      font-size: 18px;
      p {
        font-size: 14px;
        margin-left: 1rem;
      }
    }
    .navBar-header {
      margin-right: 3rem;
      font-size: 15px;
      display: flex;
      .nav-header {
        font-weight: bolder;
        padding: 0 1.5rem;
        margin: 1rem;
        cursor: pointer;
      }
    }
  }
  // Layout Main 設定
  .l-main {
    margin: 2rem 7rem;
    height: 100vh;
    background-color: blue;
    width: 80%;
    .main-info {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      // border: 2px solid black;
      .main-picture {
        flex: 1;
        border-radius: 100%;
        border: 2px solid black;
        width: auto;
        height: 50%;
        img {
          width: 100%;
          height: 100%;
          border-radius: 100%;
        }
      }
      .main-aboutme {
        // border: 2px solid black;
        flex: 1.5;
        width: 80%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .navBar-main {
          width: 100%;
          display: flex;
          justify-content: space-around;
          .nav-main {
            font-weight: bolder;
            padding: 1.5rem;
            margin: 0.5rem;
            border-radius: 100%;
            border: 1px solid black;
            cursor: pointer;

            // 透過 data-index 設定 nav 的顏色
            &[data-index="0"] {
              background-color: #c7a158;
            }

            &[data-index="1"] {
              background-color: #fff4e9;
            }

            &[data-index="2"] {
              background-color: #b9a88b;
            }
            &[data-index="3"] {
              background-color: #dad1cc;
            }
            transition: all 0.3s ease-in-out;

            &:hover {
              background-color: white;
            }
          }
        }
      }
    }
  }
  // Layout Footer 設定
  .l-footer {
    position: absolute;
    left: 0;
    height: 0vh;
    width: 100%;
    .navBar-footer {
      // background-color: lightgray;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .nav-footer .social-icons i {
        font-size: 1.5rem;
        margin: 0 0.5rem;
        cursor: pointer;
      }
    }
  }
}
