* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #e9e4df;
  color: black;
}

body .l-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  z-index: 100;
}
body .l-header .title {
  display: flex;
  align-items: center;
  font-size: 2rem;
  margin: 0 2rem;
}
body .l-header .title p {
  font-size: 14px;
  margin-left: 1rem;
}
body .l-header .navBar-header {
  margin-right: 3rem;
  font-size: 15px;
  display: flex;
}
body .l-header .navBar-header.open {
  transition: all 1s ease;
}
body .l-header .navBar-header .nav-header {
  font-weight: bolder;
  padding: 0 1.5rem;
  margin: 1rem;
  cursor: pointer;
}
body .l-header .HamburgerMenu {
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
  cursor: pointer;
}
body .l-header .HamburgerMenu .menu-line {
  width: 100%;
  height: 3px;
  background-color: black;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}
body .l-header .HamburgerMenu .menu-line:nth-child(1) {
  transform-origin: center;
}
body .l-header .HamburgerMenu .menu-line:nth-child(3) {
  transform-origin: center;
}
body .l-header .HamburgerMenu.open .menu-line:nth-child(1) {
  transform: rotate(45deg) translateY(11px);
}
body .l-header .HamburgerMenu.open .menu-line:nth-child(2) {
  opacity: 0;
}
body .l-header .HamburgerMenu.open .menu-line:nth-child(3) {
  transform: rotate(-45deg) translateY(-14px);
}
body .l-main .main-info {
  opacity: 0;
  transform: translateY(-30px);
  animation: showMain 1s ease-out forwards;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
body .l-main .main-info .main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .l-main .main-info .main-picture {
  flex: 1;
  border-radius: 100%;
  border: 2px solid black;
  width: auto;
  height: 50%;
}
body .l-main .main-info .main-picture img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
body .l-main .main-info .main-aboutme {
  flex: 1.5;
  width: 80%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .l-main .main-info .main-aboutme .info {
  padding: 0 2rem;
}
body .l-main .main-info .main-aboutme .info h3 {
  margin: 0.5rem;
}
body .l-main .main-info .main-aboutme .navBar-main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
body .l-main .main-info .main-aboutme .navBar-main .nav-main {
  font-weight: bolder;
  padding: 1.5rem;
  margin: 0.5rem;
  border-radius: 100%;
  border: 1px solid black;
  cursor: pointer;
}
body .l-main .main-info .main-aboutme .navBar-main .nav-main[data-index="0"] {
  background-color: #c7a158;
}
body .l-main .main-info .main-aboutme .navBar-main .nav-main[data-index="1"] {
  background-color: #dad1cc;
}
body .l-main .main-info .main-aboutme .navBar-main .nav-main[data-index="2"] {
  background-color: #b9a88b;
}
body .l-main .main-info .main-aboutme .navBar-main .nav-main:hover {
  background-color: #f7e6bd;
}
body .l-footer {
  position: absolute;
  left: 0;
  width: 100%;
}
body .l-footer .navBar-footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body .l-footer .navBar-footer .nav-footer .social-icons i {
  font-size: 1.5rem;
  margin: 0 0.5rem;
  cursor: pointer;
}
body .layout-container .outlet-containter {
  margin-top: 2rem;
  padding: 3rem 0;
}
body .page {
  display: flex;
  align-items: start;
  flex-direction: column;
  padding: 0.5rem 6rem;
}
body .page .title {
  font-size: 0.9rem;
  margin-bottom: 2rem;
}
body .page .info {
  opacity: 0;
  transform: translateY(-30px);
  animation: showMain 1.5s ease-out forwards;
  display: flex;
  margin: 0.5rem 0;
  width: 100%;
}
body .page .info .left {
  display: flex;
  align-items: start;
  flex: 1;
}
body .page .info .left h2 {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}
body .page .info .right {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  flex: 1;
}
body .page .info .right .time {
  text-align: start;
  width: 30%;
}
body .page .info .right .time h3 {
  font-weight: 100;
}
body .page .info .right .job {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  text-align: start;
}
body .page .info .right .job p {
  font-weight: 100;
}
body .page .project-info {
  opacity: 0;
  transform: translateY(-30px);
  animation: showMain 1.5s ease-out forwards;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 2rem 0 0 0;
}
body .page .project-info .project-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: center;
  margin-right: 2rem;
}
body .page .project-info .project-left a h2 {
  font-size: 1.5rem;
}
body .page .project-info .project-left h3 {
  font-size: 1.2rem;
  text-align: center;
}
body .page .project-info .project-left p {
  line-height: 25px;
}
body .page .project-info .project-right {
  flex: 1;
}
body .page .project-info .project-right video {
  margin-top: 2rem;
}
body .line {
  border: 1px solid black;
  width: 100%;
  opacity: 0.1;
}

@keyframes showMain {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media screen and (max-width: 578px) {
  .l-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .l-header .HamburgerMenu {
    position: absolute;
    right: 2rem;
    top: 1.5rem;
    display: flex;
    flex-direction: column;
    z-index: 999;
  }
  .l-header .HamburgerMenu .menu-line {
    width: 35px;
    height: 3px;
    margin: 2px;
    background-color: black;
  }
  .l-header .navBar-header {
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.5s ease;
    pointer-events: none;
  }
  .l-header .navBar-header .nav-header {
    display: none;
  }
  .l-header .navBar-header.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    transition: all 0.5s ease;
  }
  .l-header .navBar-header.open .nav-header {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-size: 1.3rem;
    justify-content: center;
    align-items: center;
  }
  .l-main {
    width: 100%;
    height: 100%;
  }
  .l-main .main-info {
    display: flex;
    flex-direction: column;
  }
  .l-main .main-info .main-picture {
    margin: 1rem 0;
  }
  .l-footer .navBar-footer {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  .l-footer .navBar-footer .nav-footer {
    display: flex;
    flex-direction: row;
    text-align: start;
  }
  .l-footer .navBar-footer .nav-footer h4 {
    font-size: 1rem;
    margin-right: 1rem;
  }
  .outlet-containter .page {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: start;
  }
  .outlet-containter .page .info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .outlet-containter .page .project-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .outlet-containter .page .project-info .project-left {
    margin-top: 2rem;
  }
  .outlet-containter .page .project-info .project-left h3 {
    margin: 1rem;
  }
}
@media screen and (max-width: 390px) {
  #root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .l-header .HamburgerMenu {
    right: 2rem;
    display: flex;
    flex-direction: column;
    z-index: 999;
  }
  .l-header .HamburgerMenu .menu-line {
    width: 35px;
    height: 3px;
    margin: 2px;
    background-color: black;
  }
  .l-header .navBar-header .title {
    margin: 0;
    padding: 0;
  }
  .l-header .navBar-header.open {
    transform: translateY(0);
    pointer-events: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    transition: all 0.5s ease;
  }
  .l-header .navBar-header.open .nav-header {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    justify-content: center;
    align-items: center;
  }
  .l-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
  }
  .layout-container {
    width: 100%;
  }
  .layout-container .outlet-containter {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .layout-container .outlet-containter .page {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .layout-container .outlet-containter .page .info {
    display: flex;
    flex-direction: column;
  }
  .layout-container .outlet-containter .page .project-info {
    margin: 0 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .line {
    height: 1px;
  }
}/*# sourceMappingURL=Layout.css.map */