* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #e9e4df;
  color: black;
}

body {
  // Layout Header 設定
  .l-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    z-index: 100;
    .title {
      display: flex;
      align-items: center;
      font-size: 2rem;
      margin: 0 2rem;
      p {
        font-size: 14px;
        margin-left: 1rem;
      }
    }
    .navBar-header {
      margin-right: 3rem;
      font-size: 15px;
      display: flex;
      &.open {
        transition: all 1s ease;
      }
      .nav-header {
        font-weight: bolder;
        padding: 0 1.5rem;
        margin: 1rem;
        cursor: pointer;
      }
    }
    .HamburgerMenu {
      flex-direction: column;
      justify-content: space-between;
      width: 30px;
      height: 25px;
      cursor: pointer;

      .menu-line {
        width: 100%;
        height: 3px;
        background-color: black;
        border-radius: 2px;
        transition: all 0.3s ease-in-out;

        &:nth-child(1) {
          transform-origin: center; // 設定第一條旋轉的起點
        }

        &:nth-child(3) {
          transform-origin: center; // 設定第三條旋轉的起點
        }
      }

      &.open {
        .menu-line {
          &:nth-child(1) {
            transform: rotate(45deg) translateY(11px); // 第一條旋轉並向下移動
          }

          &:nth-child(2) {
            opacity: 0; // 中間一條隱藏
          }

          &:nth-child(3) {
            transform: rotate(-45deg) translateY(-14px); // 第三條旋轉並向上移動
          }
        }
      }
    }
  }
  // Layout Main 設定
  .l-main {
    .main-info {
      opacity: 0;
      transform: translateY(-30px);
      animation: showMain 1s ease-out forwards;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      // border: 2px solid black;
      .main-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .main-picture {
        flex: 1;
        border-radius: 100%;
        border: 2px solid black;
        width: auto;
        height: 50%;
        img {
          width: 100%;
          height: 100%;
          border-radius: 100%;
        }
      }
      .main-aboutme {
        // border: 2px solid black;
        flex: 1.5;
        width: 80%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .info {
          padding: 0 2rem;
          h3 {
            margin: 0.5rem;
          }
        }
        .navBar-main {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 2rem;

          .nav-main {
            font-weight: bolder;
            padding: 1.5rem;
            margin: 0.5rem;
            border-radius: 100%;
            border: 1px solid black;
            cursor: pointer;
            // 透過 data-index 設定 nav 的顏色
            &[data-index="0"] {
              background-color: #c7a158;
            }

            &[data-index="1"] {
              background-color: #dad1cc;
            }

            &[data-index="2"] {
              background-color: #b9a88b;
            }

            &:hover {
              background-color: #f7e6bd;
            }
          }
        }
      }
    }
  }
  // Layout Footer 設定
  .l-footer {
    position: absolute;
    left: 0;
    width: 100%;
    .navBar-footer {
      // background-color: lightgray;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .nav-footer .social-icons i {
        font-size: 1.5rem;
        margin: 0 0.5rem;
        cursor: pointer;
      }
    }
  }
  // Layout.jsx 設定
  .layout-container {
    .outlet-containter {
      margin-top: 2rem;
      padding: 3rem 0;
    }
  }
  // Resume.jsx 設定
  .page {
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: 0.5rem 6rem;
    .title {
      font-size: 0.9rem;
      margin-bottom: 2rem;
    }
    .info {
      opacity: 0;
      transform: translateY(-30px);
      animation: showMain 1.5s ease-out forwards;
      display: flex;
      margin: 0.5rem 0;
      width: 100%;
      .left {
        display: flex;
        align-items: start;
        flex: 1;
        h2 {
          font-size: 1.5rem;
          margin: 0.5rem 0;
        }
      }
      .right {
        margin: 0.5rem 0;
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: start;
        flex: 1;
        .time {
          text-align: start;
          width: 30%;
          h3 {
            font-weight: 100;
          }
        }
        .job {
          width: 70%;
          display: flex;
          flex-direction: column;
          align-items: start;
          justify-content: start;
          text-align: start;
          p {
            font-weight: 100;
          }
        }
      }
    }
    .project-info {
      opacity: 0;
      transform: translateY(-30px);
      animation: showMain 1.5s ease-out forwards;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin: 2rem 0 0 0;
      .project-left {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        text-align: center;
        a {
          h2 {
            font-size: 1.5rem;
          }
        }
        h3 {
          font-size: 1.2rem;
          text-align: center;
        }
        p {
          line-height: 25px;
        }
      }
      .project-right {
        flex: 1;
      }
    }
  }
  // Line 虛線設定
  .line {
    border: 1px solid black;
    width: 100%;
    opacity: 0.1;
  }
}

// 設定畫面載入時顯示的動畫
@keyframes showMain {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
// 設定手機的 RWD
@media screen and (max-width: 578px) {
  // Header 的 RWD
  .l-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .HamburgerMenu {
      position: absolute;
      right: 2rem;
      top: 1.5rem;
      display: flex;
      flex-direction: column;
      z-index: 999;
      .menu-line {
        width: 35px;
        height: 3px;
        margin: 2px;
        background-color: black;
      }
    }
    .navBar-header {
      opacity: 0;
      transform: translateY(-20px);
      transition: all 0.5s ease;
      pointer-events: none; //關閉點擊功能
      .nav-header {
        display: none;
      }
      &.open {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        transition: all 0.5s ease;
        .nav-header {
          display: flex;
          flex-direction: column;
          padding: 1rem;
          font-size: 1.3rem;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
  // 首頁的 RWD
  .l-main {
    width: 100%;
    height: 100%;
    .main-info {
      display: flex;
      flex-direction: column;
      .main-picture {
        margin: 1rem 0;
      }
    }
  }
  // Footer 的 RWD
  .l-footer {
    .navBar-footer {
      display: flex;
      flex-direction: column;
      justify-content: start;
      .nav-footer {
        display: flex;
        flex-direction: row;
        text-align: start;
        h4 {
          font-size: 1rem;
          margin-right: 1rem;
        }
      }
    }
  }
  // outlet 的 RWD
  .outlet-containter {
    .page {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: start;
      .info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
      .project-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .project-left {
          margin-top: 2rem;

          h3 {
            margin: 1rem;
          }
        }
        .project-right {
        }
      }
    }
  }
}

@media screen and (max-width: 390px) {
  #root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  // Header 的 RWD
  .l-header {
    .HamburgerMenu {
      right: 2rem;
      display: flex;
      flex-direction: column;
      z-index: 999;
      .menu-line {
        width: 35px;
        height: 3px;
        margin: 2px;
        background-color: black;
      }
    }
    .navBar-header {
      .title {
        margin: 0;
        padding: 0;
      }
      &.open {
        transform: translateY(0);
        pointer-events: auto;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        transition: all 0.5s ease;
        .nav-header {
          display: flex;
          flex-direction: column;
          font-size: 1.3rem;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
  // 首頁的 RWD
  .l-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
  }
  // Footer 的 RWD

  // outlet 的 RWD
  .layout-container {
    width: 100%;
    .outlet-containter {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      .page {
        display: flex;
        justify-content: center;
        align-items: center;
        .info {
          display: flex;
          flex-direction: column;
        }
        .project-info {
          margin: 0 0 0 0;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  .line {
    height: 1px;
  }
}
